* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1,
header,
.imageContainer,
form {
	margin: 2rem 1rem;
}

nav {
	justify-content: space-around;
}

nav,
ul {
	display: flex;
}

ul {
	list-style-type: none;
	padding: 0;
	gap: 1rem;
	font-size: 1.2rem;
}

div {
	margin: 1rem;
}

h1,
a,
label {
	text-transform: capitalize;
}

.card {
	margin: 0 5rem;
}

.imageContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	overflow-x: auto;
}

.image {
	width: 100%;
	border-radius: 1rem;
}

.productName,
.productPrice,
.productStock {
	font-size: 1.5rem;
}